body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100wh;
    background-color: #fff4cc;
}

nav{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:  rgb(106 149 67 / 97%);
    height: 80px;
}

.icon {
    position: absolute;
    margin: 10px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.head h1 {
    font-size: 24px;
    margin-left: 90px;
}

.head h1:hover{
    transition: 0.5s;
    transform: scale(1.02);
}

.links{
    display: flex;
    margin-right: 80px;
    text-decoration: none;
    font-weight: 400;
    color: black;
}

.links:hover{
    transition: 0.5s;
    font-weight: 600;
}

hr{
    margin: 0;
    position: absolute;
    top: 0;
    right: 300px;
    height: 80px;
    border: 1px solid rgb(255, 255, 255);
}

#user-name{
    position: absolute;
    right: 100px;
    font-weight: 500;
    top: 10px;
}

.box{
    background-color: rgb(255 186 142);
    height: 450px;
    width: 800px;
    position: absolute;
    top: 20%;
    right: 24%;
    box-shadow: 5px 5px 10px #00000033;
    border-radius: 10px;
    text-align: center;
}

.headbox{
    position: absolute;
    top: 5%;
    left: 19%;
    font-weight: 500;
    font-size: 30px;
}

.contentbox{
    position: absolute;
    top: 15%;
    left: 5%;
    right: 5%;
    font-weight: 300;
    font-size: 25px;
}

.box1{
    position: absolute;
    bottom: 20%;
    padding: 20px;
    background-color:  rgb(241, 157, 105);
    left: 20%;
    width: 150px;
    box-shadow: 5px 5px 10px #00000033;
    border-radius: 10px;
}


.box3{
    position: absolute;
    bottom: 20%;
    padding: 20px;
    background-color:  rgb(241, 157, 105);
    left: 50%;
    width: 150px;
    box-shadow: 5px 5px 10px #00000033;
    border-radius: 10px;
}


.box1:hover{
    background-color:  rgb(106 149 67 / 97%);
    color: white;
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.2s;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}


.box3:hover{
    background-color:  rgb(106 149 67 / 97%);
    color: white;
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.2s;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
